# Correct the fields below then remove the ".example" extension.
# All fields are required.

[ezid]
username = username
password = password
ark-shoulder = ark:/99999/fk4
ark-resolver = http://n2t.net
minter-url = https://ezid.cdlib.org/shoulder

[archivesspace]
username = admin
password = admin
api-prefix = http://localhost:8089
pdf-url-prefix = http://www.library.example.edu/speccol/
repository = 2

[pdf]
export-location = pdfs
