<%
   multiplicity ||= "one" 
   singular = "#{controller}".singularize 
%>

<div class="overlay-form">
	<%= form_context :spawn, {} do |form| %>
	  <div class="alert alert-danger missing-ref-message" style="display: none;"><%= I18n.t "plugins.#{singular}._frontend.messages.please_select_a_#{singular}_to_overlay" %></div>
	  <%= render_aspace_partial :partial => "#{controller}/linker", :locals => { :form => form, :hide_create => true, :multiplicity => multiplicity }%>
</div>
<% end %>	