<div class="container navbar-branding">
  <%= image_tag "#{AppConfig[:frontend_prefix]}assets/images/archivesspace/logo-special-collections.png", :class=>"img-logo" %>
  <!--<h2 style="color: red;" > TEST! </h2>-->
</div>