<div class="row-fluid">
   <div class="span3">
   </div>
   <div class="span9">
     <div class="record-pane">

    </div>

<div class="form-actions">            
  <%= link_to_function I18n.t("plugins.plugin_settings.return"), "history.back()", :class => "btn btn-cancel" %>
</div>

  </div>
</div>