.img-logo{
	padding: 1em;
	width: 350px;
	height: auto;
}
.ui-resizable-handle{
    z-index: 90;
	float: right;
    background-color: #08c;
    width: 12px;
    height: 12px;
}
.CodeMirror-scroll{
	height: 100% !important;
	overflow-y: hidden!important;
	overflow-x: auto !important;
}